<!DOCTYPE html>
{% extends 'templates/base.html' %}
    
    {% block body_block %}
    <table>
        <thead>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Friend 1</th>
            <th>Friend 2</th>
            <th>Friend 3</th>
        </thead>
        {% for k,v in tables %}
            <th>{{ k }}</th>
            {% for x in range(3) %}
                {% for k,v in tables %}
                    <th>{{v[x]}}</th>
                {% endefor %}
            {% endefor %}
        {% endefor %}
    </table>

    {% endblock body_block %}

  
    
